.container-fluid {
    background-image: url("pic/BgSlider.png");
    width: 100%;
    color: white;
    background-size: cover;
    background-color: #be9b70; /* Цвет фона */
}

.center{
    display: table-cell;
    height: 400px;
    vertical-align: middle;
    text-align: center;
}

.text-3{
    color:blue;
    text-align: center;
}

.p {
    text-align: center;
}

.hr{
        width: 100%;
        height: 120px;
        background-color: red;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-width: 2px;
        border-color: green;
}

#abc{
    display:none;
}

#click {
    cursor: pointer;
}
/*
.box {
    width: 300px;
    -webkit-transition: width 5s;
    transition: width .5s;
  }
  .box:hover {
    width: 215px;
  }
*/
#abcd{
    display: none;
}



body {
    animation: change-background 10s ease infinite;
  }

/* Keyframes 
@keyframes change-background {
    0% {
      background: #786beb;
    }
    50% {
      background: #9581ac;
    }
    100% {
      background: #d8a4ae;
    }
  }
*/
.abcd:hover {
    animation: anm2 0.7s ease forwards;
}
@keyframes anm2 {
    to {
        background-size: 115% 115%;
    }
}